certifi==2019.3.9
Django==2.2.8
django-cors-headers==2.5.2
django-filter==2.1.0
django-suit==0.2.26
djangorestframework==3.9.2
djangorestframework-simplejwt==4.1.3
docutils==0.14
Markdown==3.1
pillow==8.2.0
PyJWT==1.7.1
pytz==2018.9
sqlparse==0.3.0
suit
dlib
face_recognition
SpeechRecognition==3.8.1
googletrans==2.4.0
